<% all_months_option = false unless local_assigns[:all_months_option] %>
<% content_for :month_year_selector do %>
  <div class="row">
    <div class="small-3 columns"><%= t '.time_frame' %></div>
    <div class="small-4 columns">
      <% if all_months_option %>
        <%= select_month(@month, {}, {name: :month}) %>
      <% else %>
        <%= select_month(@month, {prompt: t('.all')}, {name: :month}) %>
      <% end %>
    </div>
    <div class="small-5 columns end"><%= select_year(@year, {start_year: Date.current.year-1, end_year: Date.current.year+1}, {name: :year}) %></div>
  </div>
<% end %>
