<% content_for :time_frame_selector do %>
  <div class="from_to_date">
    <div class="row">
      <div class="small-3 columns text-field-label"><%= t '.start_date' %></div>
      <div class="small-9 columns">
        <%= datefield(:start_date, t('.start_date'), @start_date, :from_date) %>
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns text-field-label"><%= t '.end_date' %></div>
      <div class="small-9 columns">
        <%= datefield(:end_date, t('.end_date'), @end_date, :to_date) %>
      </div>
    </div>
  </div>
<% end %>
