<%= render partial: 'reports/shared/header', locals: {base_url: "/reports/activities/comparison/#{@user.id}/:year", title: t('.title'), unit: '' } %>

<%= render(partial: 'shared/user_select', locals: { link_generator: :reports_activities_comparison_path, selected_user: @user }) %>

<div class="content-summary row">
  <div class="small-12 columns">
    <div id="chart" data-time-entries="<%= @data_points[:time_entries].to_json %>" data-activities="<%= @data_points[:activities].to_json %>">
      <svg style="height:400px"> </svg>
    </div>
  </div>
</div>
