<div class="row">
  <div class="small-12 columns">
    <h1>
      <%= User.model_name.human %>
      <%= link_to icon('plus') + ' ' + t('.new_user'), new_user_path, class: 'button right' %>
    </h1>

    <table class="nice small-12 edit destroy">
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><strong><%= link_to user, user_path(user) %></strong></td>
          <td><%= link_to icon('edit'), edit_user_path(user) %></td>
          <td>&nbsp;</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
