<ul class="event-legend">
  <% if show_public_holiday %>
  <li>
    <i class="icon-sign-blank public-holiday-color"></i>
    <%= t '.public_holiday' %>
  </li>
  <% end %>

  <% time_types.each do |time_type| %>
  <li>
    <i class="icon-sign-blank event-color<%= color_index_of_time_type(time_type) %>"></i>
    <%= time_type %>
  </li>
  <% end %>
</ul>
