<% if show_user_select? %>
  <div class="row">
    <div class="small-2 columns"><%= t '.user' %></div>
    <div class="small-4 columns">
      <select name="user">
        <% selectable_users.each do |user| %>
          <option data-link="<%= method(link_generator).call(user) %>" <% if user == selected_user %>selected="selected"<% end %>><%= user %></option>
        <% end %>
      </select>
    </div>
    <div class="small-6 columns end"></div>
  </div>
<% end %>
