<div id="add-time-modal" class="small reveal-modal">
  <div class="row">
    <div class="small-12 columns">
      <h2><%= t '.add_time' %></h2>
    </div>
  </div>
  <%= render 'time_entries/form' %>
  <a class="close-reveal-modal">&#215;</a>
</div>
