<div id="edit-time-modal" class="medium reveal-modal time">
  <div class="row">
    <div class="small-12 columns">
      <h2><%= t '.edit_time' %></h2>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
