defaults: &defaults
  base: "dc=nine,dc=ch"
  host: localhost
  port: 389
  auth: &auth_defaults
    method: !ruby/symbol simple
    username: "cn=admin,dc=nine,dc=ch"
    password: testing123

development:
  <<: *defaults
  port: 3389

test:
  <<: *defaults
  port: 3389

staging:
  <<: *defaults
  port: 636
  encryption:
    method: !ruby/symbol simple_tls

production:
  <<: *defaults
  host: ldap-srv1.nine.ch
  port: 636
  encryption:
    method: !ruby/symbol simple_tls
