development:
  disable_activities: true # recommended
  customer_url: 'http://10.10.10.2/admin/customerdetail.php?id=%s'
  auth_providers:
    - provider: 'password'
    - provider: 'developer'
      fields:
        - 'email'
      uid_field: 'email'

test:
  auth_providers:
    - provider: 'password'

production:
  disable_activities: true
  auth_providers:
    - provider: 'password'
