development:
  disable_activities: true # recommended
  customer_url: 'http://10.10.10.2/admin/customerdetail.php?id=%s'
  auth_providers:
    - provider: 'password'
    - provider: 'developer'
      fields:
        - 'email'
      uid_field: 'email'
  work_per_day_hours: 8.5 # default
  vacation_per_year_days: 25 # default

test:
  auth_providers:
    - provider: 'password'

production:
  disable_activities: true
  auth_providers:
    - provider: 'password'
