development:
  customer_url: 'http://10.10.10.2/admin/customerdetail.php?id=%s'
  auth_providers:
    - provider: 'password'
    - provider: 'developer'
      fields:
        - 'email'
      uid_field: 'email'

# auth providers are loaded in an initializer,
# this is why we need to configure this here...
# ¯\_(ツ)_/¯
test:
  auth_providers:
    - provider: 'password'
