<div class="row">
  <div class="small-12 columns">
    <%= form_tag '#', name: 'activity_billability' do %>
      <%= render partial: 'table', locals: {customer: customer, activities_by_type: activities_by_type} %>
      <%= submit_tag t('.finish'), class: 'medium button right' %>
    <% end %>
  </div>
</div>
