<% @rows.each do |row| %>
<tr class="sub-summary-row <% if @rows.first == row %>first<% end %><% if @rows.last == row %>last<% end %>" data-month="<%=@month%>">
  <td class="indentation"></td>
  <td><%= link_to row[:name], row[:link], target: '_blank' %></td>
  <% TimeType.absence.each do |time_type| %>
  <td><%= format_work_days(row[time_type.id]) %></td>
  <% end %>
</tr>
<% end %>
