<div class="row">
  <div class="small-12 columns">
    <h1><%= title %>
      <div class="right">
        <%= link_to icon('caret-left'), method(path).call(@time_sheet, @year - 1) %>
        <%= link_to icon('caret-right'), method(path).call(@time_sheet, @year + 1) %>
        <%= year %>
      </div>
    </h1>
  </div>

</div>
