<div class="content-summary row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">
        <div class="panel sensational callout">
          <p>Dein aktuelles Überstunden-Saldo beträgt</p>
          <p class="crazy lo"><span class="awesome">24</span> Stunden und <span class="awesome">24</span> Minuten</p>
          <p>Das sind</p>
          <p class="crazy yo"><span class="awesome">4.1</span> Arbeitstage!</p>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel sensational">
          <p>Du hast im März bereits<p>
          <p class="crazy yo"><span class="awesome">60%</span> der Sollzeit</p>
          <p>Das entspricht einer Arbeitszeit von</p>
          <p class="crazy lo"><span class="awesome">164</span> Stunden und <span class="awesome">24</span> Minuten</p>
          <i class="icon-wrench icon-background"></i>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel sensational">
          <h1 class="lo">Deine Absenzen</h1>
          <h5 style="color: gray"><b>Mittwoch, 21. März</b>:<br/><span class="label" style="background-color: gray"><i class="icon-medkit"></i> Krankheit</span></h5>
          <h5><b>Mittwoch, 22. März, nachmittags</b>:<br/> <span class="label" style="background-color: #61aaf2"><i class="icon-circle-blank"></i> Kompensation</span></h5>
          <h5><b>Mittwoch, 25. Mai</b> bis <b>Freitag, 29. Mai</b>:<br/> <span class="label" style="background-color: #fa6654"><i class="icon-fighter-jet"></i> Militär/Zivilschutz</span></h5>
          <i class="icon-user icon-background"></i>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel sensational">
          <h1 class="yo">Team Absenzen</h1>
          <h5><b>Mittwoch, 22. März, nachmittags</b>:<br/> <span class="label" style="background-color: #61aaf2"><i class="icon-circle-blank"></i> Kompensation</span> von Raffael</h5>
          <h5><b>Mittwoch, 25. Mai</b> bis <b>Freitag, 29. Mai</b>:<br/> <span class="label" style="background-color: #fa6654"><i class="icon-fighter-jet"></i> Militär/Zivilschutz</span> von Nils</h5>
          <h5><b>Mittwoch, 25. Mai</b> bis <b>Freitag, 29. Mai</b>:<br/> <span class="label" style="background-color: #fa6654"><i class="icon-fighter-jet"></i> Militär/Zivilschutz</span> von Samuel</h5>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel sensational">
          <p>Du hast bisher</p>
          <p class="crazy yo"><span class="awesome">3</span> Ferientage eingetragen</p>
          <p>und noch</p>
          <p class="crazy lo"><span class="awesome">22</span> Ferientage zu Gute!</p>
          <i class="icon-plane icon-background"></i>
        </div>
      </div>
  </div>

</div>
