<div class="row">
  <div class="large-12 columns">
    <i class="icon-flag public-holiday-color"></i>
    <%= public_holiday.name %>
    <div class="right">
      <%= part_of_day(public_holiday) %>
    </div>
  </div>
</div>

