<div class="top-buttons">
  <a href="#" class="button remote-reveal" data-reveal-id="time-modal" data-reveal-url="<%= new_user_time_entry_path(@user, date: @day) %>">
    <%= icon(:plus) %>
    <%= t '.add_time' %>
  </a>
</div>
