<div class="row">
  <div class="small-12 columns">
    <h2><%= t('.edit_time') %>
  </div>
</div>
<%= form_for [@time_sheet, @time_entry], remote: true, :html => {:'data-type' => 'script'} do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
<% end %>
