<div id="add-absence-modal" class="medium reveal-modal">
  <div class="row">
    <div class="small-12 columns">
      <h2><%= t('.add_absence') %>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
