<div class="row">
  <div class="small-12 columns">
    <h2><%= t('.edit_absence') %>
  </div>
</div>
<%= form_for [@time_sheet, @absence], remote: true do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
<% end %>

