<div class="row">
  <div class="small-12 columns">
    <h2><%= t('.add_absence') %>
  </div>
</div>
<%= form_for [@user, @absence], remote: true, :html => {:'data-type' => 'script'} do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
<% end %>
