// Place all the styles related to the Absences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'compass/css3/images';

.content-absences {

  form.nice {
    .recurring-checkbox {
      margin: 10px 0;
    }

    .absence-delete-link {
      margin-left: 10px;
    }
  }

  .year-navigation {
    float: right;
    margin: 0;

    // span {
    //   font-size: 1.2em;
    // }

  }

  div.popover {
    .wrap {
      border: 1px solid #222;
      box-shadow: 0 0 11px -1px rgba(0, 0, 0, .4);
      background: #fff;
      // @include background-image(linear-gradient(left center, #EBEBEB 0%, #f5f5f5 90%));
    }

    .arrow {
      border-top: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }

    .arrow.top-arrow {
      margin: -19px 0 0 -11px;
      border-bottom: 10px solid #222;
    }

    .arrow.bottom-arrow {
      margin: 0 0 0 -11px;
      border-top: 10px solid #222;
    }

    .arrow.left-arrow {
      margin: -10px 0 0 -10px;
      border-right: 10px solid #222;
    }

    .arrow.right-arrow {
      margin: -10px 0 0 0;
      border-left: 10px solid #222;
    }


    .content {
      h1 {
        font-size: 1.2em;
        margin-bottom: 0;
      }

      max-height: none;

      hr:last-child {
        display: none;
      }

      p {
        font-weight: 300;
        margin-bottom: 0;
      }

      p.date-range {

        font-size: 1.1em;
      }

      p.period {
        font-style: italic;
      }

      a.button {
        margin-top: 1em;
        margin-bottom: 0;
      }
    }
  }

  table.calendar {

    border: 1px solid #ccc;
    border-radius: 3px;
    border-collapse: collapse;
    width: 100%;

    thead {
      @include background-image(linear-gradient(top center, #F5F5F5 0%, #E0E0E0 90%));

      tr.dayName {
        th {
          width: 14.285714286%;
          padding: 0.5em 0 0.625em;
          text-align: center;
        }
      }
    }

    tr {
      border-collapse: collapse;
    }

    td {

      text-align: center;
      color: inherit !important;
      border: 1px solid #ccc;
      cursor: default;

      &.otherMonth {
        color: #adadad !important;
      }
      &.today {
        font-weight: 800;
      }
      &.not-a-workday {
        background-color: #f5f5f5;
      }
      &.otherMonth.weekendDay {
        background-color: #f5f5f5;
      }
      &.has-absences, &.has-no-absences {
        padding: 0;

        .has-click-tip, .has-reveal {
          display: block;
          padding: 0.58em 0.625em;
          text-align: center;
          width: 100%;
          line-height: 0.98em;
          cursor: pointer;
        }
      }
    }
  }
}
