.content-activities {
  .week-view .entries {
    .metadata {
      > * {
        margin-left: 10px;
        font-size: 0.7em;

        &:first-child {
          margin-left: 0px;
        }
      }
    }

    .activity {
      font-weight: 600;

      span.has-tip {
        font-size: 0.8em;
        color: #d3d3d3;
        border-bottom: none;
      }
    }
  }

  .reveal-modal.activity {
    top: 10px !important;

    #activity_description {
      height: 70px;
    }
  }

  a.delete-activity-link {
    display: block;
    margin-top: 15px;
  }
}

.content-detailed {
  table.detailed-activities {
    border: 1px solid #ddd;

    small {
      font-size: 80%;
    }

    td, th {
      text-align: right;

      &:first-child {
        text-align: left;
      }
    }

    tr.summary-row {
      &:hover td {
        background: #f5f5f5;
      }

      td:nth-child(3) {
        text-align: center;
      }
    }

    .header-row th {
      background: #f5f5f5;
    }

    .subtotal-row {
      font-size: 90%;
      font-weight: bold;
    }
  }
}
