@import 'variables';

nav.top-bar {
  margin-bottom: 0;
  .top-bar-section {
    max-width: 62.5em;
    margin: 0 auto;
    text-transform: uppercase;
    li {
      a {
        font-size: 1em;
      }
      &.hover {
        > a {
          background-color: $topbar-link-bg-active;
        }
      }
      &.has-dropdown a {
        font-weight: normal;
        text-transform: none;
      }
    }
  }
}
div.subnavigation {
  div.columns {
    padding-left: 0;
  }
  border-bottom: 1px solid #EBEBEB;
  background-color: #F5F5F5;
  margin-bottom: 1.25em;
  ul.sub-nav {
    margin: 0;

    li {
      float: left;
      padding: 10px 15px;
      display: block;
      position: relative;

      a {
        color: #2d2d2d;
        display: block;
      }

      &.active {
        font-weight: bold;
      }
    }
  }
}
