@import 'variables';

ul {
  list-style-type: none;
}

a.close-reveal-modal.link {
  right: 0;
  position: relative;
  top: 0;
  margin-left: 1em;
}

.reveal-modal {
  .button {
    margin-bottom: 0;
  }
}

select {
  background: #fff;
  margin: 0 0 1em 0;
  font-size: 0.8em;
  border: 1px solid #ccc;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 400;
}


h1, h2, h3 {
  a.button {
    font-size: 0.5em;
  }
}

.row.buttons {
  margin-top: 2em;
}

table {
  td.action,
  &.edit td:nth-last-child(2),
  &.destroy td:last-child {
    width: 10px;
  }
  td.action.disabled {
    color: #aaa;
  }
}

.alert-box {
  background-color: lighten($primary-color, 40%);
  margin-bottom: 0.5em;
  font-weight: 400;
  color: lighten($primary-color, 10%);
  border: 0;

  a {
    font-weight: 700;
  }
}

.hidden {
  display: none !important;
}

.footer {
  .row {
    margin-bottom: 20px;
  }
}

.picker__button--today,
.picker__button--clear {
  color: black;
}

.green-tick {
  color: #6cc644;
}

div.top-buttons {
  text-align: right;
}
