div.popover {
  .wrap {
    border: 1px solid #222;
    box-shadow: 0 0 11px -1px rgba(0, 0, 0, .4);
    background: #fff;
    // @include background-image(linear-gradient(left center, #EBEBEB 0%, #f5f5f5 90%));
  }

  .arrow {
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .arrow.top-arrow {
    margin: -19px 0 0 -11px;
    border-bottom: 10px solid #222;
  }

  .arrow.bottom-arrow {
    margin: 0 0 0 -11px;
    border-top: 10px solid #222;
  }

  .arrow.left-arrow {
    margin: -10px 0 0 -10px;
    border-right: 10px solid #222;
  }

  .arrow.right-arrow {
    margin: -10px 0 0 0;
    border-left: 10px solid #222;
  }
}
