.content-summary-header {
  .view-buttons {
    float: right;
  }
}

@-webkit-keyframes swingitbaby
{
  0%     {-webkit-transform: rotate(0deg); -webkit-transform-origin: 60% 15%;}
  50%    {-webkit-transform: rotate(20deg); -webkit-transform-origin: 60% 15%;}
  100%   {-webkit-transform: rotate(0deg); -webkit-transform-origin: 60% 15%;}
}

.content-summary {
  table.nice {
    tr {
      td, th {
        text-align: right;
      }
    }

    tr {
      td:first-child {
        text-align: left;
      }
    }

    tr.expand-row {
      td {
        text-align: center;
      }
    }

    tr.total {
      td {
        font-weight: bold;
      }
    }
  }

  table.calendar {
    border-spacing: 0;
    border-collapse: collapse;

    tr {
      td {
        &.public-holiday {
          background-color: rgb(229,229,237);
        }

        &.today {
          background-color: #f1f1f1;
        }
      }
      th {
        width: 30px;
        height: 30px;

        &.today {
          border: 2px solid #FF8888 !important;
          background-color: #f1f1f1;
        }

        &.public-holiday {
          background-color: rgb(189,189,208);
          color: white;
        }
      }
      td, th {
        border: 1px solid #CCC;
        text-align: center;

        font-size: 0.75em;
        padding: 0.2em;

        &.event {
          padding: 0;
          width: 30px;
          height: 30px;
        }

        &:first-child {
          width: auto;
          white-space: nowrap;
        }

        &.non-work-day {
          background-color: #FFFFD8;
        }

        i {
          color: white;
          font-size: 0.8em;
        }

        &.has-click-tip {
          cursor: pointer;
        }
      }
    }
  }

  .calendar .event-container { // container
    position: relative;
    width: 100%;
    height: 100%;

    i {
      color: white; // icons
    }

    > div { // overlay div (full size)
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;

      > div { // table div
        position: absolute;
        display:table;
        width: 100%;
        height: 100%;

        font-size: 1.314159em;

        &.bottom-right, &.top-left {
          width: 50%;
          height: 50%;
          font-size: 1.0em;
        }
        &.top-right {
          left: 0;
          top: 0;
        }
        &.bottom-right {
          right: 0;
          bottom: 0;
        }

        > div { // cell div to center content vertically
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
      }
    }
  }

  .panel {
    &.sensational {
      text-align: center;
      min-height: 250px;

      p {
        font-size: 1.2em;
        margin: 0;
        padding: 0;
        color: #666;

        .awesome {
          font-size: 1.4em;
          font-weight: bold;
        }

        &.crazy {
          font-size: 1.5em;
          color: #333;

          .awesome {
            font-size: 1.8em;
            font-weight: bold;
          }
        }
      }

      .yo {
        transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        -webkit-transform: rotate(3deg);
      }

      .lo {
        transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
      }

      .icon-background {
        width: 100% !important;
        height: 100%;
        position: absolute;
        left: 0;
        top: 10px;
        opacity: 0.1;
        font-size: 200px;
      }
    }

    &.center {
      padding-top: 50px !important;
    }

    &.callout {
      p, .has-tip {
        color: #DEDEDE;

        &.crazy {
          color: #FFFFFF;
        }

        .has-tip:hover, .has-tip:focus {
          color: #FFFFFF;
          border-color: #FFFFFF;
        }
      }
    }
  }

  .absence-list {
    .date {
      float: left;
      font-size: 1em;
      font-weight: bold;
      color: #333;
    }

    .user {
      float: left;
      width: 5em;
      text-align: left;
    }

    .entry {
      margin: 0.3em;
    }

    .absence {
      float: right;
    }

    i {
      color: white ;
    }

    font-weight: bold;
    color: #333;
  }

  .gimmicks {
    // &.swingitbaby:hover{
    //   -webkit-animation: swingitbaby 0.45s 2;
    // }

    // &.planecrash:hover {
    //   -webkit-animation: planecrash 2s 1;
    // }
  }
}

// Table emulation for summary tooltips
.tbl-tooltip {
  width: 100%;
  display: table;

  > .tr {
    display: table-row;

    > .td {
      padding: 0.2em;
      display: table-cell;
    }
  }
}
