.content-summary {
  table.nice {
    tr {
      td, th {
        text-align: right;
      }

      td:first-child {
        text-align: left;
      }
    }

    tr.expand-row {
      td {
        text-align: center;
      }
    }

    tr.total {
      td {
        font-weight: bold;
      }
    }
  }
}
