.content-summary {
  table.nice {
    tr {
      td, th {
        text-align: right;
      }

      th.value {
        &.work {
          width: 15%;
        }
        &.absence {
          width: 15%;
        }
      }
    }

    tr.summary-row {
      td:first-child {
        text-align: left;
      }
    }

    tr.expand-row {
      td {
        text-align: center;
      }
    }

    tr.total {
      td {
        font-weight: bold;
      }
    }
  }
}

// Table emulation for summary tooltips
.tbl-tooltip {
  width: 100%;
  display: table;

  > .tr {
    display: table-row;

    > .td {
      padding: 0.2em;
      display: table-cell;
    }
  }
}
