.content-summary {
  table.nice {
    tr {
      td, th {
        text-align: right;
      }
    }

    tr {
      td:first-child {
        text-align: left;
      }
    }

    tr.expand-row {
      td {
        text-align: center;
      }
    }

    tr.total {
      td {
        font-weight: bold;
      }
    }
  }

  table.calendar {
    border-spacing: 0;
    border-collapse: collapse;

    tr {
      td, th {
        border: 1px solid #CCC;
        text-align: center;

        font-size: 0.75em;
        padding: 0.2em;

        &:first-child {
          width: auto;
          white-space: nowrap;
        }
        &:not(:first-child) {
          width: 30px;
          height: 30px;
        }

        i {
          color: white;
          font-size: 0.8em;
        }
      }
    }
  }
}

// Table emulation for summary tooltips
.tbl-tooltip {
  width: 100%;
  display: table;

  > .tr {
    display: table-row;

    > .td {
      padding: 0.2em;
      display: table-cell;
    }
  }
}
