.content-time_sheets {

  .reveal-modal.time {
    top: 50px;

    .time-difference {
      padding-top: 1.5em;
      font-size: 1.4em;
    }
  }

  a.delete-time-entry-link,
  a.delete-timer-link {
    display: block;
    margin-top: 15px;
  }

  .reveal-modal.time {
    label {
      font-weight: bold;
    }

    input, select, label {
      font-size: 1.2em;
    }
  }
}
