.content-time-types {
  .list-of-icons, .list-of-colors {
    float: left;

    li {
      float: left;
      cursor: pointer;

      > * {
        opacity: 0.2;
      }

      .active {
        opacity: 1.0;
      }
    }
  }
}
