<div class="top-buttons">
  <a href="#" class="button remote-reveal" data-reveal-id="activity-modal" data-reveal-url="<%= new_user_activity_path(@user) %>">
    <%= icon(:plus) %>
    <%= t '.add_activity' %>
  </a>
</div>
