<%= render(partial: 'shared/user_select', locals: { link_generator: :user_activities_path, selected_user: @user }) %>

<div class="row">
  <div class="large-12 columns">
    <%= debug @activities %>
  </div>
</div>
