<div class="footer container">
  <div class="row">
    <div class="small-8 small-offset-2 columns alert-box secondary">
      <%= t '.info-rule' %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      nine.ch - from dev-team with <i class="icon-heart"></i>
    </div>
  </div>
</div>
