<div class="header container">
  <div class="row">
    <div class="large-12 columns">
      <div class="logo">
        <%= link_to image_tag('logo.svg', size: '122x36'), time_sheet_path(current_user.current_time_sheet) %>
      </div>
      <div class="navigation">
        <%= render_navigation level: 1 %>
      </div>
      <% if has_top_buttons? %>
        <%= render "#{controller.controller_name}/top_buttons" %>
      <% end %>
    </div>
  </div>
</div>
